NODE_ENV=development
PORT=3000
SESSION_SECRET=promenite-ovu-vrednost-u-dugacku-nasumicnu-tajnu
SESSION_DB_PATH=./data/sessions.sqlite
ADMIN_EMAIL=admin@rezervacije.local
ADMIN_PASSWORD=PromeniMe123!
DB_PATH=./data/rezervacije.sqlite
MAX_LOGO_SIZE_MB=2
MAX_FLYER_SIZE_MB=5
